<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eSports.system.data.dao.GameInfoDao">
    <resultMap id="BaseResultMap" type="com.eSports.system.data.entity.GameInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="game_name" jdbcType="VARCHAR" property="gameName"/>
        <result column="game_desc" jdbcType="VARCHAR" property="gameDesc"/>
        <result column="game_time" jdbcType="TIMESTAMP" property="gameTime"/>
    </resultMap>

    <insert id="insertGameInfo" parameterType="com.eSports.system.data.entity.GameInfo">
         insert into ess_game_info
        (
        game_name,
        game_desc,
        game_time
        )values
            (
            #{gameInfo.gameName},
            #{gameInfo.gameDesc},
            #{gameInfo.gameTime}
            )
    </insert>

    <delete id="deleteGameInfo" parameterType="integer">
        delete from ess_game_info
        where id=#{id}
    </delete>

    <select id="selectByGameInfo" parameterType="com.eSports.system.data.entity.GameInfo"
            resultMap="BaseResultMap">
        select *
        from ess_game_info
        where 1=1
        <if test="gameInfo.id != null">
            and id = #{gameInfo.id}
        </if>
        <if test="gameInfo.gameName != null">
            and game_name = #{gameInfo.gameName}
        </if>
        <if test="gameInfo.gameDesc != null">
            and game_desc = #{gameInfo.gameDesc}
        </if>
        <if test="gameInfo.gameTime != null">
            and game_time = #{gameInfo.gameTime}
        </if>
        order by id
    </select>

    <update id="updateGameInfo" parameterType="com.eSports.system.data.entity.GameInfo">
        UPDATE ess_game_info
        <set>
            <if test="gameInfo.gameName != null">
                game_name = #{gameInfo.gameName},
            </if>
            <if test="gameInfo.gameDesc != null">
                game_desc = #{gameInfo.gameDesc},
            </if>
            <if test="gameInfo.gameTime != null">
                game_time = #{gameInfo.gameTime},
            </if>
        </set>
        WHERE id=#{gameInfo.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from ess_game_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from ess_game_info
        where id=#{id}
    </select>


</mapper>