<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eSports.system.data.dao.NewsInfoDao">
    <resultMap id="BaseResultMap" type="com.eSports.system.data.entity.NewsInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="news_name" jdbcType="VARCHAR" property="newsName"/>
        <result column="news_desc" jdbcType="VARCHAR" property="newsDesc"/>
    </resultMap>

    <insert id="insertNewsInfo" parameterType="com.eSports.system.data.entity.NewsInfo">
         insert into ess_news_info
        (
        news_name,
        news_desc
        )values
            (
            #{newsInfo.newsName},
            #{newsInfo.newsDesc}
            )
    </insert>

    <delete id="deleteNewsInfo" parameterType="integer">
        delete from ess_news_info
        where id=#{id}
    </delete>

    <select id="selectByNewsInfo" parameterType="com.eSports.system.data.entity.NewsInfo"
            resultMap="BaseResultMap">
        select *
        from ess_news_info
        where 1=1
        <if test="newsInfo.id != null">
            and id = #{newsInfo.id}
        </if>
        <if test="newsInfo.newsName != null">
            and news_name = #{newsInfo.newsName}
        </if>
        <if test="newsInfo.newsDesc != null">
            and news_desc = #{newsInfo.newsDesc}
        </if>
        order by id
    </select>

    <update id="updateNewsInfo" parameterType="com.eSports.system.data.entity.NewsInfo">
        UPDATE ess_news_info
        <set>
            <if test="newsInfo.newsName != null">
                news_name = #{newsInfo.newsName},
            </if>
            <if test="newsInfo.newsDesc != null">
                news_desc = #{newsInfo.newsDesc},
            </if>
        </set>
        WHERE id=#{newsInfo.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from ess_news_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from ess_news_info
        where id=#{id}
    </select>


</mapper>