<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eSports.system.data.dao.UserInfoDao">
    <resultMap id="BaseResultMap" type="com.eSports.system.data.entity.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_role" jdbcType="INTEGER" property="userRole"/>
    </resultMap>

    <insert id="insertUserInfo" parameterType="com.eSports.system.data.entity.UserInfo">
         insert into ess_user_info
        (
        user_name,
        password,
        user_role
        )values
            (
            #{userInfo.userName},
            #{userInfo.password},
            #{userInfo.userRole}
            )
    </insert>

    <delete id="deleteUserInfo" parameterType="integer">
        delete from ess_user_info
        where id=#{id}
    </delete>

    <select id="selectByUserInfo" parameterType="com.eSports.system.data.entity.UserInfo"
            resultMap="BaseResultMap">
        select *
        from ess_user_info
        where 1=1
        <if test="userInfo.id != null">
            and id = #{userInfo.id}
        </if>
        <if test="userInfo.userName != null">
            and user_name = #{userInfo.userName}
        </if>
        <if test="userInfo.password != null">
            and password = #{userInfo.password}
        </if>
        <if test="userInfo.userRole != null">
            and user_role = #{userInfo.userRole}
        </if>
        order by id
    </select>

    <update id="updateUserInfo" parameterType="com.eSports.system.data.entity.UserInfo">
        UPDATE ess_user_info
        <set>
            <if test="userInfo.userName != null">
                user_name = #{userInfo.userName},
            </if>
            <if test="userInfo.password != null">
                password = #{userInfo.password},
            </if>
            <if test="userInfo.userRole != null">
                user_role = #{userInfo.userRole},
            </if>
        </set>
        WHERE id=#{userInfo.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from ess_user_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from ess_user_info
        where id=#{id}
    </select>


</mapper>